
.list__item__importance {
    justify-self: center;
    align-self: center;
}

.list__item__importance__menu.active{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    width: 19rem;
    height: 15rem;
    top: 2.1rem;
    z-index: 10;
    padding: 1rem;
    box-shadow: 10px 9px 28px -6px rgba(0, 0, 0, 0.678);
}

.list__item__importance__menu{
    display: none;
}

.list__item__importance__menu__header{
    grid-column: span 2;
    align-self: center;
    border-bottom: 0.1rem solid grey;
}

.list__item__importance__menu__dot{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    z-index: 5;
    justify-self: center;
    align-self: center;
}

.list__item__importance__menu__priority{
    font-size: 1.4rem;
    align-self: center;
    opacity: 0.9;
}


 
.list__item__importance__menu__dot:hover + .list__item__importance__menu__priority,
.list__item__importance__menu__priority:hover {
    opacity: 1;
    font-size: 1.6rem;
    padding-left: 0.2rem;
    cursor: pointer;
}