@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* This defines what 1rem is (1rem = 10px) */
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6;
    background: linear-gradient(360deg, rgba(241,240,245,1) 0%, rgba(224,226,230,1) 100%);
    height: 100vh; /* Temporary */
    color: #323233;
}


/* Figures/icons */
.icon {
    width: 2rem;
    height: 2rem;
}

.arrow {
    width: 1rem;
    height: 1rem;
}

.arrow--grey{
    filter: invert(43%) sepia(6%) saturate(17%) hue-rotate(2deg) brightness(99%) contrast(86%);
}

/* Buttons */

.btn {
    border: 0;
}

.btn:hover {
    box-shadow: 0 0 5px rgb(112, 112, 112);
    border: 1px solid rgba(112, 112, 112, 1);
}

.btn--grey {
    background-color: #4D4D4D; 
}

.btn--red {
    background-color: #DB5656;
}

.btn--round {
    border-radius: 50%;
    box-shadow: 10px 9px 28px -6px rgba(0,0,0,0.37);
    text-align: center;
}

.btn--add {
    background-image: url(../img/icons/add--white.svg);
}

.btn--edit {
    background-image: url(../img/icons/edit--white.svg);
}

.btn--remove {
    background-image: url(../img/icons/remove--white.svg);
}

.btn--confirm {
    background-image: url(../img/icons/confirm--white.svg);
}

.btn--upload{
    background-image: url(../img/icons/upload--white.svg);
}

/* Dots */

.dot {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
}

.dot--red {
    background-color: #DB5656;
}

.dot--yellow {
    background-color: #FFEC6E;
}

.dot--green {
   background-color: #60FF70;
}

/* Navbar  */
.navbar {
    margin: 3rem 10% 0 10%;
}

.navbar__logo {
    font-size: 2rem;
}

/* Toolbar */

.toolbar {
    margin: 1rem 10% 0 10%;
    padding: 2rem 0rem 3rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px dashed grey;
}

/* Main */
main {
    margin: 1rem 10% 0 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
}

/* List */
.list {
    margin-top: 5rem;
    display: inline-block;
    background-color: white;
    box-shadow: 10px 9px 28px -6px rgba(0,0,0,0.37);
    position: relative;
    align-self: start;
}

.list__header {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: -5rem;
    left: 0rem;
}

.list__header h3 {
    margin-left: .7rem;
    font-size: 2rem;
}


.list__action-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 4rem;
    width: 4rem;
    padding-top: 1rem;
    background-color: #4D4D4D;
    background-position: center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

/* List items */
.list__item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 2rem;
    border-bottom: 1px solid rgba(112,112,112,.2);

}


.list__item__text--date {
    color: #ACACAC;
    font-size: 1rem;
    margin-bottom: -.5rem;
}

.list__item__text--task {
    font-weight: 700;
}

.list__item__expand {
    justify-self: center;
    align-self: center;
}

.list__item__expanded {
    grid-column: 2 / 3;
    display: none;
    position: relative;
}

.list__item__expanded__controls {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: start;
    display: none;
}

.list__item__expanded__btn {
    height: 3rem;
    width: 3rem;
    padding-top: 1rem;
    background-position: center;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    display: block;
    margin: 1rem;
    z-index: 10;
}

.list__item__expanded__members {
    margin-top: 1rem;
}

.list__item__expanded__images {
    margin-top: 1rem;
}

.list__item__expanded__images img {
    width: 5rem;
    height: 5rem;
}

.active {
    display: block;
}

.arrow-down {
    transform: rotate(180deg);  
}

.profile-pic {
    border-radius: 50%;
    height: 3rem;
}

.btn--add-member {
    height: 3rem;
    width: 3rem;
    background-color: #4D4D4D;  
    background-position: center;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.list__item__importance {
    justify-self: center;
    align-self: center;
}

.list__item__importance__menu.active{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    width: 19rem;
    height: 15rem;
    top: 2.1rem;
    z-index: 10;
    padding: 1rem;
    box-shadow: 10px 9px 28px -6px rgba(0, 0, 0, 0.678);
}

.list__item__importance__menu{
    display: none;
}

.list__item__importance__menu__header{
    grid-column: span 2;
    align-self: center;
    border-bottom: 0.1rem solid grey;
}

.list__item__importance__menu__dot{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    z-index: 5;
    justify-self: center;
    align-self: center;
}

.list__item__importance__menu__priority{
    font-size: 1.4rem;
    align-self: center;
    opacity: 0.9;
}


 
.list__item__importance__menu__dot:hover + .list__item__importance__menu__priority,
.list__item__importance__menu__priority:hover {
    opacity: 1;
    font-size: 1.6rem;
    padding-left: 0.2rem;
    cursor: pointer;
}

